* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}/*ajustes generales*/

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    min-height: 100vh;
}/*ajustes del body en general*/

.grid-container > * {
    box-shadow: 0px 5px 37px -13px rgba(rgba(0, 0, 0, 0.39), green, blue, alpha);
    text-align: center;
    font-weight: 500;
} /*ajustes generales para los elementos que estan contenidos en el container*/

.grid-container {
    display: grid;
    grid-template:
    "header" 340px
    "nav" 80px
    "main" 600px
    "footer" 100px; /*orden en el que se colocan en el grid los elementos*/
    .header{
        max-width: 100vw;
        grid-area: header;
        background-image: url(../img/flyerpan-100.jpg);
    }
    .nav {
        grid-area: nav;
        background-color: #eab306;
    }
    .main{
        grid-area: main;
        background-color: none;
    }
    .footer{
        grid-area: footer;
        background-color: #eab306;
    }
}

.main > *{
    text-align: left;
    padding: 0.5em 1em;
    list-style: none;
    font-size: 2rem;
}

.main {
    margin-inline: 10px;
    display: grid;
    grid-template: 
    "fixed-row" 80px
    "item-row" 80px;
    
    .fixed-row{
        grid-area: fixed-row;
        background-color: #4d3b01;
        border-radius: 0.7em;
        box-shadow: 0px 5px 37px -13px rgba(rgba(0, 0, 0, 0.612), green, blue, alpha);
        color: white;
        display: flex; /* Habilita Flexbox */
        align-items: center; /* Centra verticalmente */
        gap: 50%;
    }
    .item-row{
        grid-area: item-row;
        background-color: #4d3b01;
        border-radius: 0.7em;
        padding: 0.5em 1em;
        box-shadow: 0px 5px 37px -13px rgba(rgba(0, 0, 0, 0.612), green, blue, alpha);
        color: white;
        display: flex; /* Habilita Flexbox */
        align-items: center; /* Centra verticalmente */
        gap: 50%;
    }
}