* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
/* Contenedor con la imagen de fondo */
/* .header-background {
    width: 100%;
    height: 300px; 
    background-image: url('../img/flyerpan.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative; 
  }
   */
  /* Estilos del navbar */
  /* nav {
    background-color: #d3b000; 
    padding: 10px 0; 
    width: 100%; 
    text-align: center; 
    position: relative;
    display: flex; 
    justify-content: center; 
  } */
  
  /* Estilo de los elementos de navegación */
  /* nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
  }
  
  nav ul li {
    margin: 0 15px; 
    position: relative;
  } */
  
  /* Estilo del submenú */
  /* nav ul li ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #d3ac00; 
    padding: 0;
    list-style: none;
  } */
  
  /* Mostrar el submenú al pasar el ratón */
  /* nav ul li:hover ul {
    display: block; 
  } */
  
  /* Estilo de los enlaces */
  /* nav a {
    color: white;
    text-decoration: none; 
    padding: 10px; 
    display: block;
  } */
  
  
  main {
    padding-top: 100px; 
    text-align: center;
  }
  
  
  .tittle{
    margin: 10px auto;
    padding: 0.5em;
    font-size: 35px;
    font-style: bold;
  }

  .tittle h1{
    font-size: 65px;
  }

  .imagen-icn{
    min-height: 16px;
    max-height: 55px;
  }