.header-background {
    width: 100%;
    height: 300px; 
    background-image: url('flyerpan.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
  }
  
  /* Estilos del navbar */
  nav {
    background-color: #d3b000;
    padding: 10px 0; 
    width: 100%; 
    text-align: center; 
    position: relative; 
    display: flex; 
    justify-content: center; 
  }
  
  /* Estilo de los elementos de navegación */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    background-color: #d3ac00 !important ;
    z-index: 700;

  }


  
  nav ul li {
    margin: 0 15px;
    position: relative; 
  }
  
  /* Estilo del submenú */
  nav ul li ul {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #d3ac00; 
    padding: 0;
    list-style: none;
  }
  
  /* Mostrar el submenú al pasar el ratón */
  nav ul li:hover ul {
    display: block; 
  }
  
  /* Estilo de los enlaces */
  nav a {
    color: white !important; /* Color de texto de los enlaces */
    text-decoration: none; 
    padding: 10px; 
    display: block;
  }
  
  li a:hover{
    background-color: #856d02 !important;
    transition: 0.5s ;
    border-radius: 10px;
  }
  
  main {
    padding-top: 100px; 
    text-align: center;
  }
  
  footer {
    background-color: #eab306;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    /* position: fixed; */
    bottom: 0;
  }
  
  .tittle{
    margin: 10px auto;
    padding: 0.5em;
    font-size: 35px;
    font-style: bold;
  }

  .tittle h1{
    font-size: 65px;
  }

  .imagen-icn{
    min-height: 16px;
    max-height: 55px;
  }