.header-background {
    width: 100%;
    height: 300px; /* Ajusta la altura según sea necesario */
    background-image: url('flyerpan.png'); /*Reemplaza con la ruta correcta a tu imagen*/
    background-size: cover; /* Asegura que la imagen cubra todo el ancho del contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    position: relative; /* Posiciona de manera relativa para permitir contenido interno */
  }
  
  /* Estilos del navbar */
  nav {
    background-color: #d3b000; /* Color de fondo del navbar */
    padding: 10px 0; /* Espaciado superior e inferior del navbar */
    width: 100%; /* Asegura que ocupe todo el ancho */
    text-align: center; /* Centra los elementos dentro del navbar */
    position: relative; /* Establece posición normal */
    display: flex; /* Usa flexbox para alinear horizontalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  /* Estilo de los elementos de navegación */
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* Flexbox para alinear elementos de la lista horizontalmente */
  }
  
  nav ul li {
    margin: 0 15px; /* Espacio entre los elementos de la lista */
    position: relative; /* Relativo para submenús */
  }
  
  /* Estilo del submenú */
  nav ul li ul {
    display: none; /* Oculto por defecto */
    position: absolute; /* Posición absoluta para desplegar debajo */
    top: 100%; /* Alinea justo debajo del elemento principal */
    left: 0;
    background-color: #d3ac00; /* Fondo del submenú */
    padding: 0;
    list-style: none;
  }
  
  /* Mostrar el submenú al pasar el ratón */
  nav ul li:hover ul {
    display: block; /* Muestra el submenú al hacer hover */
  }
  
  /* Estilo de los enlaces */
  nav a {
    color: white !important; /* Color de texto de los enlaces */
    text-decoration: none; /* Sin subrayado */
    padding: 10px; /* Espaciado interno */
    display: block;
  }
  
  
  main {
    padding-top: 100px; /* Ajusta este valor si el navbar tiene diferente altura */
    text-align: center;
  }
  
  footer {
    background-color: #eab306;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  .tittle{
    margin: 10px auto;
    padding: 0.5em;
    font-size: 35px;
    font-style: bold;
  }

  .tittle h1{
    font-size: 65px;
  }

  .imagen-icn{
    min-height: 16px;
    max-height: 55px;
  }